<h3>Behold: Albums</h3>
<button type="button" name="button">
  <a href="/music/new">new album</a>
</button>
<table class="table">
  <tr>
    <th>image</th>
    <th>album</th>
    <th>artist</th>
    <th>year</th>
    <th>label</th>
    <th>hardware</th>
    <th>edit</th>
    <th>delete</th>
  </tr>
  {{#each allAlbums}}
  <tr>
    <td>
      <img class="table-thumb"
      style="width: auto; height: 140px;" src="{{this.img_url}}" alt="{{this.album}} Album Image" />
    </td>

    <td>
      <a href="./music/{{this.id}}">
        {{this.album}}
      </a>
    </td>

    <td>
        {{this.artist}}
    </td>

    <td>
        {{this.year}}
    </td>

    <td>
        {{this.label}}
    </td>

    <td>
      {{hardware_type}}
    </td>

    <td>
      <a href="./music/{{this.id}}/edit">
        edit!<span class="glyphicon glyphicon-pencil"></span>
      </a>
    </td>
    <td>
      <a href="./music/{{this.id}}/delete">deleted!<span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {{/each}}
</table>
