
{{#each oneAlbum}}
<div class="col-lg-5">
  <img class="one-img" style="height: 300px; width: auto;" src="{{this.img_url}}" alt="{{this.album}} image">
</div>
<div class="col-lg-7">
  <h2>{{this.album}}</h2>
  <h4>{{this.artist}}</h4>
  <p>{{this.description}}</p>
</div>
{{/each}}
